@import "tailwindcss";

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v21/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxjPVmUsaaD5Z.woff2)
    format("woff2");
}

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, Consolas, monospace;
  --color-background: #09090b;
  --color-background-card: #18181b;
  --color-foreground: #fafafa;
  --color-detail: #a1a1a0;
  --color-border: #27272a;
}

:root {
  font-family: var(--font-mono);
  background: var(--color-background);
  color: var(--color-foreground);
}
